*.wav
*.wav.asd
*.mp3
*.m4a
*.mov
*.zip
*.mp4
*.env
*.vscode/
*.aif
*.asd
*.aiff
*.app
*.flac
*.pt
"./500_2024 summer classes/technical_ear_training_modules/*"
"./200 Teaching/winter_24/In an Ocean - normalled VST3 LIVE 12.zip"
"./200 Teaching/fall_23/In an Ocean - normalled VST3 LIVE 11.zip"
"./200 Teaching/winter_24/In an Ocean - normalled VST3 LIVE 12.zip"
"./200 Teaching/fall_23/In an Ocean - normalled VST3 LIVE 11.zip"
